.gm-style-iw-d{
	font-weight: 400;
}
.full_width{
	width: 100%;
}

.custom_form select{
    min-height: 49px;
}
.custom_form .elementor-column{
	display: block;
}
.custom_form .elementor-row .elementor-column{
	padding-left: 2px;
	padding-right: 2px;
}


table.single_prov_data h4,
table.single_prov_data p{
	margin: 0;
}

input[type=email], input[type=number], input[type=password], input[type=reset], input[type=search], input[type=tel], input[type=text], input[type=url], select{
	height: 49px;
	border-radius: 4px;
}
.menu-toggle, button, .ast-button, .ast-custom-button, .button, input#submit, input[type="button"], input[type="submit"], input[type="reset"]{
	border-radius: 4px;
}

table.search_result_tbl hr{
	background: #ddd;
	margin: 5px 0;
}
table table{
	margin-bottom: 0;
}

.advance_src,
.advance_src a{
	color: #00abef !important;
}
.advance_src:hover{
	cursor: pointer;
	text-decoration: underline;
}


.adv_search_o .adv_src_tgl_x{
	display: block;
}
.adv_search_o .adv_src_tgl_o,
.adv_search_o .adv_src_x{
	display: none;
}
.adv_src_tgl_x,
.adv_search_x .adv_src_o{
	display: none;
}

.npm_lbl{
    float: right;
    border: 1px solid #000;
    font-size: 11.5px;
    padding: 0 5px;
    border-radius: 4px;
    font-weight: bold;
    font-style: italic;
}
